<%= simple_form_for(@post, html: { class: 'form-horizontal' }) do |f| %>
  <div class="jumbotron">
    <div class="row">
      <%= f.input :title %>
    </div>
    <div class="row">
      <div class="form-group">
        <% if @post.title_image.exists? %>
            <%= image_tag @post.title_image.url(:medium), class: "img-rounded" %><br>
        <% end %>
        <%= f.label "Title image", class: "control-label" %>
        <%= f.file_field :title_image, class: "form-control" %>
      </div>
    </div>
    <div class="row">
      <%= f.input :content, as: :wysihtml5 %>
    </div>
    <div class="row">
      <%= f.input :tag_list, inline_label: "Tags (separated by commas)", input_html: {value: @post.tag_list.join(', ')} %>
    </div>
    <div class="row">
      <div class="col-md-2">
        <%= f.input :published, as: :boolean, label: "Publish" %>
      </div>
        <%= f.input :published_at, as: :datetime, input_html: {value: Time.now} %>
    </div>
    <div class="modal-footer">
      <%= button_to "Cancel", root_path, type: :reset, class: "btn btn-default" %>
      <%= f.button :submit, "Save", class: "btn btn-primary" %>
    </div>
  </div>
<% end %>