<p>
<div class="row">
  <% if !post.published %>
  <i class="glyphicon glyphicon-lock"></i>
  <% end %>
  <%= link_to post.title, post_path(post.id), class: "h3" %>
  <% if signed_in? %>
    <%= link_to edit_post_path(post.id), class: "btn" do %>
      <i class="glyphicon glyphicon-edit" aria-hidden="true"></i>
    <% end %>
    <%= link_to post, method: :delete,
        data: { confirm: "You sure?" },
        title: post.title,
        class: "btn" do %>
       <i class="glyphicon glyphicon-trash" aria-hidden="true"></i>
    <% end %>
  <% end %>
  <h6><i class="glyphicon glyphicon-calendar" aria-hidden="true"></i><%= post.created_at %>  <i class="glyphicon glyphicon-user" aria-hidden="true"></i><%= Profile.find_by_user_id(post.user_id).nickname %></h6>
</div>
<div class="row">
  <%= post.content.html_safe %>
</div>
<div class="row">
  <h5><i class="glyphicon glyphicon-comment" aria-hidden="true"></i>
  Comments: <%= link_to post.comments.count, post_path(post.id, anchor: "comments") %> |
  <a role="button" data-toggle="collapse" href="#collapseForm<%= post.id %>" aria-expanded="false" aria-controls="collapseForm<%= post.id %>">
    Add comment
  </a></h5>
  <div class="collapse" id="collapseForm<%= post.id %>">
    <div class="panel panel-default">
      <%= simple_form_for([post, post.comments.build] , html: { class: 'form-horizontal' }) do |f| %>

          <div class="panel-body" style="margin: 10px 10px 10px 10px;">
            <% if !signed_in? %>
                <%= f.input :nickname %>
            <% end %>
            <%= f.input :content %>
          </div>
          <div class="panel-footer">
            <%= f.button :submit, "Add comment", class: "btn btn-primary" %>
            <a role="button" data-toggle="collapse" href="#collapseForm<%= post.id %>" aria-expanded="false" aria-controls="collapseForm<%= post.id %>">
              Cancel
            </a>
          </div>
      <% end %>
    </div>
  </div>
</div>
</p>