<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag "application", media: "all",
                          "data-turbolinks-track" => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>
</head>
<body>
<%= render 'layouts/header' %>
<div class="container">
  <div class="bs3-row">
    <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>">
          <%= value %>
        </div>
    <% end %>
    <div class="col-md-9">
    <%= yield %>
    </div>
    <div class="col-md-3">
      <div class="panel panel-default">
        <div class="panel-body center">
          <% $widgets.each do |widget| %>
            <p>
            <% if widget.show_pic == true %>
              <% if !widget.link.nil? %>
                 <a href="<%= widget.link %>">
              <% end %>
              <%= image_tag(widget.image.url, width: widget.width) %>
                  <% if !widget.link.nil? %>
                      </a>
                  <% end %>

            <% else %>
              <%= widget.content.html_safe %>
            <% end %>
            </p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <%= render 'layouts/footer' %>
  <%= debug(params) if Rails.env.development? %>
</div>
</body>
</html>
